#activities{
width: 700px;
margin: 0 auto;
}

.activities p{
text-align: left;
font-size: 18px;
}

.activities h1{
color: #007FB6;
line-height: 10px;
font-size: 24px;
}

#map {height: 300px; width: 200px;display: inline-block;flex: 0 0 50%;}
#map1 {height: 300px; width: 200px;display: inline-block;flex: 0 0 50%;}
#map2 {height: 300px; width: 200px;display: inline-block;flex: 0 0 50%;}

.card{
    background-color: white;
    width: 600px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}